<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/main.css">

    <script src="../static/main.js"> </script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Regression</title>
</head>

<body>
    <div class="bg-image">
        <form method="POST" name="myform" onsubmit="return validateform()">
            <input name="yrsOfExperience" type="text" class="bg-box" placeholder="Enter the years of experience">
            <button type="submit" class="button"> Predict Salary </button>
        </form>
        <!-- TODO : A popup that shows your salary -->
    </div>
</body>

</html>